.main{
    background-image: linear-gradient(to bottom, #000000, #313131, #5f5f5f, #929292, #c9c9c9);
    min-height: 900px;
}
.txt1>span{
    color: var(--orange);
    font-size: x-large;
    margin: 25px 0px 25px 0px;
    font-weight: 700;
}
li{
    text-align: left;
}

div.dt-container div.dt-layout-row { 
    color: white;
    
}
.dt-info{
    padding-left: 20px;
}
td,th{
    text-align: center;
}
th{
    color: white;
}

td{
    font-weight: 500;
    color: white;
    vertical-align: middle;
    padding: 10px;
    width: 100px;
    height: 50px;
    font-size: 0.8rem;
}
table.dataTable thead>tr>th.dt-orderable-asc, table.dataTable thead>tr>th.dt-orderable-desc, table.dataTable thead>tr>td.dt-orderable-asc, table.dataTable thead>tr>td.dt-orderable-desc {
    line-height: 4rem;
}
.tabla{
    background-color: #2C3034;
    color: white;
}
.img-tabla{
    width: 100px;
    cursor: pointer;
    object-fit: cover;
    height: 100px;
}
.input-p>input{
	margin: 10px;
}
.compraContainer{
	margin: 25px 0px 25px 0px ;
}
.titulo,.fecha{
	margin: 15px 0px;
}
.enviar{
	height: 150px;
}
.agregar>button{
	height: 50px;
	width: 150px;
	background-color: var(--blue);
	color: white;
}
.enviar>button{
	height: 50px;
	width: 150px;
	color: white;
	background-color: var(--orange);
}
table.dataTable th.dt-type-numeric, table.dataTable th.dt-type-date, table.dataTable td.dt-type-numeric, table.dataTable td.dt-type-date {
    text-align: center;
}
.fecha{
    color: white;
}
.fecha>input{
    background-color: transparent;
    color: white;
}
input[type="date"]::-webkit-inner-spin-button,::-webkit-calendar-picker-indicator{
    filter: drop-shadow(16px 16px 20px rgb(255, 255, 255)) invert(100%);
}
.form-control{
    background-color: transparent;
    color: white;
}
.form-control:disabled {
    background-color: transparent;
}
.form-control:focus {
    color: white;
    background-color: transparent;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}
.form-check{
	margin-top: 20px;
    margin-bottom: 20px;;
}
.form-check-label>i{
	margin-left: 10px;
}
.modal-content{
    background-color: #2C3034;
    color: white;
}
#contratos-table {
    table-layout: fixed; /* Asegura que las columnas respeten sus anchos */
    width: 100%;
}
.descripcion-amplia td:nth-child(4) {
	white-space: pre-wrap; /* Preserva saltos de línea */
	word-wrap: break-word; /* Ajusta texto largo */
	max-width: 300px; /* Ajusta el ancho según necesites */
}

.descripcion-amplia th:nth-child(4) {
	max-width: 300px; /* Opcional: Ajusta también la cabecera */
}
td>button{
    width: 50px;
}
@media (max-width: 991.98px) {
    .dt-layout-table{
        overflow-x: scroll;
    }
    .trash>button {
		width: 100px;
	}
	.agregar{
		margin-bottom: 20px;
	}
	
}